.layout {
    display: flex;
    height: 100dvh;
    overflow-x: hidden;
}

.content {
    flex: 1;
    background-color: #f3f4f8;
    overflow-y: auto;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; // ← これで全体スクロールを防ぐ！
}