.sidebar {
    position: relative;
    width: 220px;
    height: 100dvh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #2c3e50;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}


.logo {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    transition: color 0.3s;
}

.menu-item:hover {
    color: #9fa8da; // ラベンダー系
}

.user-section {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}


.user-icon {
    width: 50px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.username {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.user-menu a {
    display: block;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    margin: 4px 0;
}

.user-menu a:hover {
    color: #9fa8da;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    vertical-align: middle;
}