<div class="sidebar">
    <div class="logo">勤怠アプリ</div>
    <nav class="menu">
        <a routerLink="/home" class="menu-item">
            <img src="assets/icons/home.svg" alt="HOME" class="icon" />
            HOME
        </a>
        <a routerLink="/attendance" class="menu-item">
            <img src="assets/icons/attendance.svg" alt="勤怠" class="icon" />
            勤怠
        </a>
        <a routerLink="/applications" class="menu-item">
            <img src="assets/icons/applications.svg" alt="各種申請" class="icon" />
            各種申請
        </a>
    </nav>
</div>